* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: zoom-in;
  transform: scale(0.9);
}

.active {
  transform: scale(1);
  object-fit: none;
  cursor: zoom-out;
  width: auto;
  height: auto;
}

.wrapper {
  height: 500px;
  margin: auto;
  overflow: hidden;
  width: 500px;
}
